@tailwind base;
@tailwind components;
@tailwind utilities;

.globe:hover .ball {
    display: block;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}