* {
    font-size: 25px;
    font-weight: 500;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.grid {
    display: grid;
    width: 400px;
    height: 400px;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "sum sum sum sum"
        "operator operator operator operator"
        "number number number equals"
        "number number number equals"
        "number number number equals"
        "number number number equals";
}

.grid__sum {
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: sum;
    background-color: grey;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.grid__sum > div {
    padding-right: 10px;
}

.grid__operator {
    display: flex;
    justify-content: space-between;
    grid-area: operator;
}

.grid__operator > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    cursor: pointer;
    background-color: rgb(214, 213, 213);
    border: 0.5px solid rgb(76, 76, 76);
}

.grid__number {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-area: number;
    background-color: rgb(225, 225, 225);
    border-bottom-left-radius: 10px;
}

.grid__number > button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grid__equals {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 139, 139);
    grid-area: equals;
    border-bottom-right-radius: 10px;
    border: 0.8px solid rgb(76, 76, 76);
}

.grid__equals:hover {
    background-color: rgb(220, 129, 129);
}

.grid__equals:active {
    background-color: rgb(253, 139, 139);
}

.grid__operator > button:hover {
    background-color: rgb(251, 230, 230);
}

.grid__operator > button:active {
    background-color: rgb(214, 213, 213);
}